.riot_api{
    clear: both;
    width: 100%;
    float: left;
    word-wrap: normal;
}

.riot_api .form{
    width: auto;
    float: left;
}

.riot_api .form p{
    margin-bottom: 5px;
}

.riot_api h3 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 1em;
    margin-bottom: 10px;
    position: relative;
    line-height: 2.5em;
}

.riot_api .form input, .riot_api .form select{
    border: 2px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px 5px;
    background: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    width: 300px;
    font-size: 15px;
}

.riot_api .form input:focus, .riot_api .form select:focus{
    border-color: #089f8e;
}

.riot_api .form .submit{
    float: right;
}

.riot_api .btn-blue{
    background-color: #1abc9c !important;
    border: 0 none !important;
    color: #fff !important;
    outline: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 15px;
    line-height: 1.33;
    padding: 8px 14px;
    cursor: pointer;
}

.riot_api .link{
    cursor: pointer !important;
    border: 0 !important;
    background: none !important;
    color: #0079B1;
    font-size: 14px;
}
.riot_api .link:hover{
    background: none !important;
}

.riot_api .error {
    background: none repeat scroll 0 0 #e16166;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
}

.riot_api dl.dl-horizontal {
    margin-bottom: 25px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
    background-color: #eee;
    padding: 10px;
    clear: both;
    border: 1px solid #e5e5e5;
}

.riot_api dl.dl-horizontal ul{
    margin-bottom: 0;
    list-style: disc outside none;
    margin-left: 20%;
}

.riot_api .dl-horizontal dd {
    margin-left: 200px;
}
.riot_api dd {
    margin-left: 0;
    margin-bottom: 0.5em;
}
dt, dd {
    line-height: 1.42857;
}

.riot_api .dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.riot_api p.id{
    font-size: 15px;
    padding: 10px 20px;
    background-color: #eee;
    border: 1px solid #e5e5e5;
    clear: both;
}

.riot_api p.id label{
    font-weight: bold;
}

.riot_api .heading{
    clear: both;
}

.riot_api .heading h3 > a {
    position: absolute;
    right: 0;
    top: 0;
}

.riot_api .heading h3 > form {
    position: absolute;
    right: 80px;
    top: 0;
}